@model IList<WebMvcDoAlmoco.Models.VotacaoViewModel.CandidatoViewModel>

@{
    ViewData["Title"] = "VisualizarCandidatos";
}

<div class="modal-content">
    <div class="container1">

        <p>
            <a asp-action="Cadastrar">Adicionar Novo</a>
        </p>

        @{
            var listacandidatos = (IList<WebMvcDoAlmoco.Models.VotacaoViewModel.CandidatoViewModel>)ViewData["ListaCandidatos"];
        }


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Nome do candidato
                    </th>
                    <th>
                        Email
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in listacandidatos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Candidato.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Candidato.Email)
                        </td>

                        <td>
                            <img class="img-size" src="@Url.Content(@item.Candidato.Foto)" />
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>